/* background image */
body {
    background-image: url("../images/dust_scratches.png");
}


/* font for all headings */
.headfont { 
    font-family: 'Georgia', Times, Times New Roman, serif;
}


/* font for main and nav elements */
.allotherfont {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


/* font color for headings in main section: About, Portfolio, Contact, Connect with Me */
.fontcolor-main { 
    color: #4aaaa5;
    
}


/* white bar across top; includes name and navigation links */
header { 
    background-color: #ffffff;
    height: 90px;
    overflow: auto;
    clear: both;
    margin: -10px -10px 30px -10px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px;
}


/* name in header, top left */
.namebox { 
    float: left;
    padding: 0px 40px 12px 40px;
    background-color: #4aaaa5;
    color: white;
    margin-left: 160px;
}


h1 {
    font-size: 30px;
}


/* navigation box in header, top right */
nav { 
    float: right;
    width: 270px;
    margin: 15px 125px 0px 0px;
    ;
}


/* About link inside navigation box */
.navA { 
    float: left;
    width: 25%;
}


/* Portfolio link in navbox  */
.navP { 
    float: left;
    width: 33.3%;
}


/* Contact link in navbox */
.navC { 
    float: left;
    width: 33.3%;
}


/* entire middle section: "About Me", "Portfolio", "Contact", "Connect with Me" */
main { 
    margin: 0px 160px 20px 160px;
}


/* "About Me", "Portfolio", "Contact" section */
.APC { 
    overflow: auto;
    clear: both;
    float: left;
    background-color: #ffffff;
    /*width: 650px;*/
    width: 68%;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    position: relative;
    right: 9px;
    margin-bottom: 30px;
}


/* "About Me" heading */
h2 {
    margin: 32px;
    font-size: 30px;
}


/* horizontal rule in "About Me", "Portfolio", and "Contact" sections */
hr.main{
    margin: 0px 25px 0px 25px;
    color: #dddddd;
    background-color: #dddddd;
    height: 3px;
    border: 0;
}


/* self portrait */
.selfie {
    float: left;
    margin: 34px 25px 15px 25px;
}


/* text in "About Me" p-tags */
.aboutp {
    margin: 25px;
    line-height: 2;
}


/* "Connect with Me" section */
aside { 
    background-color: #ffffff;
    height: 200px;
    width: 270px;
    /*width: 28%;*/
    float: right;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
}


/* "Connect with Me" heading */
h3 {
    margin: 30px 0px 25px 30px;
}

/* horizontal rule in "Connect with Me" section */
hr.aside {
    margin: 0px 50px 0px 30px;
    color: #f0f0f0;
    background-color: #f0f0f0;
    height: 2px;
    border: 0;
}


/* github, linked in, stackoverflow section */
.social {
    margin: 25px;
}


/* stackoverflow fix: image too large, reduced, moved up */
.stack {
    margin-bottom: 3px;
}


/* teal strip above footer */
.footervalance {
    clear: both;
    overflow: auto;
    background-color: #4aaaa5;
    margin: 0px -10px 0px -10px;
    padding: 5px;
}


/* grey bar across bottom */
footer { 
    background-color: #666666;
    padding: 25px 430px 25px 430px;
    margin: 0px -10px 0px -10px;
    font-size: 12px;
}

/* "Copyright 2018 Ivan Saucedo" */
p.footer {
    position: relative;
    top: 50%;
    left: 30%;
    color: #c5c2bc;
}